body{
font-family:Verdana;
font-size:12px;
color:#fff;
background-color:black;
}

#canvas {
position: absolute; 
top: 50px; 
left: 50px;
}

#container {
width:200px;
position: absolute; 
top: 50px; 
left: 750px;
}

input[type="range"]{
     -webkit-appearance: none;
    background-color: #000;
    opacity: 0.5;
    width: 231px;
    height: 20px;
}
